<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
    <title>Login</title>
</head>

<body class="login-body">
    <div class="login-container">
        <div>
            <h1 class="heading">Student Management System</h1>
        </div>
        <div>
            <p class="login-heading">Login</p>
        </div>
        <form method="post" class="input-container">
            <div>
                <i class="ph-fill ph-user icon"></i>
                <input name="username" class="login-input" type="text" placeholder="Username">
            </div>
            <div>
                <i class="ph-fill ph-lock icon"></i>
                <input name="password" class="login-input" type="password" placeholder="Password">
            </div>

            <div>
                <button type="submit" class="login-btn">Login</button>
            </div>
        </form>
        <div>
            <p class="alert-login"></p>
        </div>
        <div class="login-copy">
            &copy;2024 Student Management System
        </div>
    </div>
</body>

</html>